/* You can add global styles to this file, and also import other style files */
:root {
  --cyan-600: #0891b2;
  --cyan-700: #0e7490;
  --orange-600: #fd7e14;
  --yellow-600: #ffd600;
  --blue-100: #e0f2fe;
  --blue-600: #2563eb;
  --gray-600: #4b5563;
  --text-h1-font-family: 'Montserrat', sans-serif;
  --text-h1-font-weight: 700;
  --text-h1-font-size: 3rem;
  --text-h3-font-family: 'Montserrat', sans-serif;
  --text-h3-font-weight: 600;
  --text-regular-font-family: 'Montserrat', sans-serif;
  --text-regular-font-weight: 400;
  --text-regular-font-size: 1.1rem;
  --text-regular-line-height: 1.6;
}
